name: build

on: [push]

jobs:
  Windows-64-bit-Build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install Dependencies
      run: npm i pkg -g && npm i open
    - name: Compile TypeScript
      run: tsc
    - name: Build for Windows x64
      run: pkg index.js --target node14-win-x64
  Windows-32-bit-Build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install Dependencies
      run: npm i pkg -g && npm i open
    - name: Compile TypeScript
      run: tsc
    - name: Build for Windows x86
      run: pkg index.js --target node14-windows-x86
  macOS-Build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install Dependencies
      run: npm i pkg -g && npm i open
    - name: Compile TypeScript
      run: tsc
    - name: Build for macOS
      run: pkg index.js --target node14-darwin-x64
  Linux-Build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install Dependencies
      run: npm i pkg -g && npm i open
    - name: Compile TypeScript
      run: tsc
    - name: Build for Linux
      run: pkg index.js --target node14-linux-x64
